20171103 Node Red Flow v3.txt
[{"id":"b9df7a28.7654f8","type":"tab","label":"Room","disabled":false,"info":""},{"id":"bb200d41.6fd32","type":"mqtt in","z":"b9df7a28.7654f8","name":"Get Lamp published","topic":"/001001/Room/Lamp/telemetry/+","qos":"0","broker":"77d9153.901ceec","x":130,"y":100,"wires":[["79b760b7.105a4","ac1ef852.d705e8"]]},{"id":"79b760b7.105a4","type":"debug","z":"b9df7a28.7654f8","name":"Published","active":true,"console":"false","complete":"payload","x":800,"y":100,"wires":[]},{"id":"61d353ca.febd3c","type":"mqtt out","z":"b9df7a28.7654f8","name":"SET Lamp","topic":"","qos":"","retain":"","broker":"77d9153.901ceec","x":790,"y":200,"wires":[]},{"id":"de25e781.f130b8","type":"inject","z":"b9df7a28.7654f8","name":"Boot","topic":"/001001/Room/Lamp/configure/Boot","payload":"{\"param\" : \"Boot\", \"value\" : true}","payloadType":"json","repeat":"","crontab":"","once":false,"x":110,"y":360,"wires":[["82f6ca4e.d45d78"]]},{"id":"aab6ea94.306d88","type":"inject","z":"b9df7a28.7654f8","name":"Store","topic":"/001001/MailBox/164437/Store","payload":"{\"param\" : \"Store\", \"value\" : true}","payloadType":"json","repeat":"","crontab":"","once":false,"x":110,"y":400,"wires":[["2d805131.05d41e"]]},{"id":"6e41f73e.425178","type":"inject","z":"b9df7a28.7654f8","name":"Reset","topic":"/001001/Room/Lamp/configure/Reset","payload":"{\"param\" : \"Reset\", \"value\" : true}","payloadType":"json","repeat":"","crontab":"","once":false,"x":110,"y":440,"wires":[["64f03598.88b77c"]]},{"id":"479226fc.148c98","type":"inject","z":"b9df7a28.7654f8","name":"LED","topic":"/001001/Room/Lamp/configure/LED","payload":"{\"param\" : \"LED\", \"value\" : true}","payloadType":"json","repeat":"","crontab":"","once":false,"x":110,"y":280,"wires":[["440e85b0.89091c"]]},{"id":"c08f324e.b323f","type":"inject","z":"b9df7a28.7654f8","name":"WiFiKey","topic":"/001001/Room/Lamp/configure/WiFiKey","payload":"12345678","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":240,"wires":[["e20b984c.5ef428"]]},{"id":"a63a80a3.af3ed","type":"inject","z":"b9df7a28.7654f8","name":"OTA","topic":"/001001/Room/Lamp/configure//OTA","payload":"{\"param\" : \"OTA\", \"value\" : true}","payloadType":"json","repeat":"","crontab":"","once":false,"x":110,"y":480,"wires":[["57c6f243.ea6c0c"]]},{"id":"4ab388c0.2c9d48","type":"inject","z":"b9df7a28.7654f8","name":"WEB","topic":"/001001/Room/Lamp/configure/WEB","payload":"{\"param\" : \"WEB\", \"value\" : false}","payloadType":"json","repeat":"","crontab":"","once":false,"x":110,"y":520,"wires":[["e7c34b5a.6991b8"]]},{"id":"369009db.739176","type":"inject","z":"b9df7a28.7654f8","name":"Uptime","topic":"/001001/Room/Lamp/configure/Uptime","payload":"30","payloadType":"num","repeat":"","crontab":"","once":false,"x":110,"y":560,"wires":[["dd5d4114.226b8"]]},{"id":"e20b984c.5ef428","type":"ui_text_input","z":"b9df7a28.7654f8","name":"WiFiKey","label":"WiFiKey","group":"e9b7ad06.4c103","order":3,"width":"6","height":"1","passthru":true,"mode":"text","delay":"0","topic":"/001001/MailBox/164437/WiFiKey","x":260,"y":240,"wires":[["8d4f43ce.3165b"]]},{"id":"dd5d4114.226b8","type":"ui_numeric","z":"b9df7a28.7654f8","name":"Uptime","label":"Uptime","group":"e9b7ad06.4c103","order":7,"width":"3","height":"1","passthru":true,"topic":"/001001/Room/Lamp/configure/Uptime","format":"{{value}}","min":"30","max":"255","step":"5","x":260,"y":560,"wires":[["70d49722.8329b8"]]},{"id":"64f03598.88b77c","type":"ui_button","z":"b9df7a28.7654f8","name":"Reset","group":"e9b7ad06.4c103","order":10,"width":"1","height":"1","label":"Reset","color":"","bgcolor":"","icon":"","payload":"{\"param\" : \"Reset\", \"value\" : true}","payloadType":"json","topic":"/001001/Room/Lamp/configure/Reset","x":510,"y":440,"wires":[["61d353ca.febd3c"]]},{"id":"2d805131.05d41e","type":"ui_button","z":"b9df7a28.7654f8","name":"Store","group":"e9b7ad06.4c103","order":9,"width":"1","height":"1","label":"Store","color":"","bgcolor":"","icon":"","payload":"{\"param\" : \"Store\", \"value\" : true}","payloadType":"json","topic":"/001001/Room/Lamp/configure/Store","x":510,"y":400,"wires":[["61d353ca.febd3c"]]},{"id":"82f6ca4e.d45d78","type":"ui_button","z":"b9df7a28.7654f8","name":"Boot","group":"e9b7ad06.4c103","order":8,"width":"1","height":"1","label":"Boot","color":"","bgcolor":"","icon":"","payload":"{\"param\" : \"Boot\", \"value\" : true}","payloadType":"json","topic":"/001001/Room/Lamp/configure/Boot","x":510,"y":360,"wires":[["61d353ca.febd3c"]]},{"id":"57c6f243.ea6c0c","type":"ui_switch","z":"b9df7a28.7654f8","name":"OTA","label":"OTA","group":"e9b7ad06.4c103","order":5,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"/001001/Room/Lamp/configure/OTA","style":"","onvalue":"{\"param\" : \"OTA\", \"value\" : true}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"param\" : \"OTA\", \"value\" : false}","offvalueType":"json","officon":"","offcolor":"","x":510,"y":480,"wires":[["61d353ca.febd3c"]]},{"id":"e7c34b5a.6991b8","type":"ui_switch","z":"b9df7a28.7654f8","name":"WEB","label":"WEB","group":"e9b7ad06.4c103","order":6,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"/001001/Room/Lamp/configure/WEB","style":"","onvalue":"{\"param\" : \"WEB\", \"value\" : true}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"param\" : \"WEB\", \"value\" : false}","offvalueType":"json","officon":"","offcolor":"","x":510,"y":520,"wires":[["61d353ca.febd3c"]]},{"id":"557f5fb6.eec3c","type":"inject","z":"b9df7a28.7654f8","name":"ssid","topic":"/001001/Room/Lamp/configure/ssid","payload":"AndroidALB","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":200,"wires":[["1c5f544d.6fa28c"]]},{"id":"1c5f544d.6fa28c","type":"ui_text_input","z":"b9df7a28.7654f8","name":"ssid","label":"ssid","group":"e9b7ad06.4c103","order":2,"width":"6","height":"1","passthru":true,"mode":"text","delay":"0","topic":"/001001/MailBox/164437/ssid","x":250,"y":200,"wires":[["7903387.248b9c8"]]},{"id":"70d49722.8329b8","type":"function","z":"b9df7a28.7654f8","name":"Uptime to Json","func":"var newmsg = msg;\nnewmsg.payload = \"{\\\"param\\\" : \\\"Uptime\\\", \\\"value\\\" : \" + msg.payload + \" }\";\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":560,"wires":[["61d353ca.febd3c"]]},{"id":"7903387.248b9c8","type":"function","z":"b9df7a28.7654f8","name":"ssid to Json","func":"var newmsg = msg;\nnewmsg.payload = \"{\\\"param\\\" : \\\"ssid\\\", \\\"value\\\" : \" + msg.payload + \" }\";\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":200,"wires":[["61d353ca.febd3c"]]},{"id":"8d4f43ce.3165b","type":"function","z":"b9df7a28.7654f8","name":"WiFiKey to Json","func":"var newmsg = msg;\nnewmsg.payload = \"{\\\"param\\\" : \\\"WiFiKey\\\", \\\"value\\\" : \" + msg.payload + \" }\";\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":240,"wires":[["61d353ca.febd3c"]]},{"id":"993f2303.63f9e","type":"ui_text","z":"b9df7a28.7654f8","group":"e9b7ad06.4c103","order":11,"width":"6","height":"1","name":"Status","label":"Lamp Status","format":"{{msg.payload}}","layout":"row-center","x":810,"y":140,"wires":[]},{"id":"ac1ef852.d705e8","type":"function","z":"b9df7a28.7654f8","name":"Lamp Status","func":"if (msg.topic == \"/001001/Room/Lamp/telemetry/Relay\") {\n    var statusmsg = { topic: \"Status\", payload: msg.payload};\n    if (msg.payload == \"0\") var buttonmsg = { topic: \"/001001/Room/Lamp/configure/RELAY\", payload: {\"param\" : \"RELAY\", \"value\" : false}};\n    if (msg.payload == \"1\") var buttonmsg = { topic: \"/001001/Room/Lamp/configure/RELAY\", payload: {\"param\" : \"RELAY\", \"value\" : true}};\n    return [statusmsg, buttonmsg];\n}","outputs":"2","noerr":0,"x":330,"y":140,"wires":[["993f2303.63f9e"],["a935fa4e.439ba8"]]},{"id":"2726019e.f69e2e","type":"inject","z":"b9df7a28.7654f8","name":"RELAY","topic":"/001001/Room/Lamp/configure/RELAY","payload":"{\"param\" : \"RELAY\", \"value\" : true}","payloadType":"json","repeat":"","crontab":"","once":false,"x":110,"y":320,"wires":[["61d353ca.febd3c"]]},{"id":"a935fa4e.439ba8","type":"ui_switch","z":"b9df7a28.7654f8","name":"Relay","label":"Lamp","group":"e9b7ad06.4c103","order":1,"width":"6","height":"1","passthru":false,"decouple":"true","topic":"/001001/Room/Lamp/configure/RELAY","style":"","onvalue":"{\"param\" : \"RELAY\", \"value\" : true}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"param\" : \"RELAY\", \"value\" : false}","offvalueType":"json","officon":"","offcolor":"","x":510,"y":320,"wires":[["61d353ca.febd3c"]]},{"id":"440e85b0.89091c","type":"ui_switch","z":"b9df7a28.7654f8","name":"LED","label":"LED","group":"e9b7ad06.4c103","order":4,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"/001001/Room/Lamp/configure/LED","style":"","onvalue":"{\"param\" : \"LED\", \"value\" : true}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"param\" : \"LED\", \"value\" : false}","offvalueType":"json","officon":"","offcolor":"","x":510,"y":280,"wires":[["61d353ca.febd3c"]]},{"id":"77d9153.901ceec","type":"mqtt-broker","z":"","broker":"iothubna.hopto.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"e9b7ad06.4c103","type":"ui_group","z":"","name":"Lamp","tab":"cb0fce06.4e4bd","order":1,"disp":true,"width":"6"},{"id":"cb0fce06.4e4bd","type":"ui_tab","z":"","name":"Room","icon":"dashboard","order":1}]